<div class="align-box header">
    <div id="particles-js"></div>
    <div class="align-top bulb">
        <div>
            <img src="/build/images/bulb.png" alt="">
            <div class="glow">
                <img class="animated pulse infinite" src="/build/images/glow.png" alt="">
            </div>
        </div>
    </div>
    <div class="align-bottom">
        <div class="me-box">
            <div>
                <h1>Laurendy Lam</h1>
                <p>Full Stack Engineer</p>
                <div class="me-social">
                    <a href=""><i class="fa fa-github-square"></i></a>
                    <a href=""><i class="fa fa-linkedin-square"></i></a>
                </div>
            </div>
            <img src="/build/images/me.png" alt="">
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="navbar">
        <div class="container">
            <nav class="level is-mobile">
                <div class="level-left me-profile">
                    <div class="level-item">
                        <img class="image" src="https://dummyimage.com/35x35/000/fff" alt="">
                    </div>
                    <div class="level-item me-title">
                        <div>LAURENDY <strong>LAM</strong></div>
                        <div><strong>FULL STACK</strong> ENGINEER</div>
                    </div>
                </div>
                <div class="level-right">
                    <a href="" class="level-item navbar-link">ABOUT</a>
                    <a href="" class="level-item navbar-link">SERVICES</a>
                    <a href="" class="level-item navbar-link">WORKS</a>
                    <a href="" class="level-item navbar-link button is-dark">HIRE ME</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="section" id="about">
        <div class="section-title">
            <h1>
                ABOUT ME
            </h1>
        </div>
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-6">
                    <div class="tile is-child notification">
                        <p class="title">WHO <strong>AM I</strong></p>
                        <p class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam architecto, autem delectus eos error facilis fuga harum, molestias nesciunt obcaecati officia perspiciatis, quaerat quidem reiciendis reprehenderit repudiandae sunt suscipit.</p>
                        <p>
                            <button class="button is-primary">DOWNLOAD MY<strong>&nbsp;CV</strong></button>
                        </p>
                    </div>
                </div>
                <div class="tile is-parent is-6">
                    <div class="tile is-child notification">
                        <p class="title">EXPERT <strong>IN</strong></p>
                        <p class="subtitle">Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent is-6">
                    <div class="tile is-child notification is-white">
                        <p class="title"><strong>EDU</strong>CATION</p>
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="period">
                                    <div>
                                        2014-2018
                                    </div>
                                    <div class="location">
                                        CONCORDIA UNIVERSITY
                                    </div>
                                </div>
                                <div class="position">
                                    <div class="title">
                                        SOFTWARE ENGINEERING COOP
                                    </div>
                                    <div class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis, distinctio doloribus libero non qui sequi. Accusantium delectus libero magni, modi molestias odit suscipit?
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="period">
                                    <div>
                                        2014-2018
                                    </div>
                                    <div class="location">
                                        CONCORDIA UNIVERSITY
                                    </div>
                                </div>
                                <div class="position">
                                    <div class="title">
                                        SOFTWARE ENGINEERING COOP
                                    </div>
                                    <div class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis, distinctio doloribus libero non qui sequi. Accusantium delectus libero magni, modi molestias odit suscipit?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-6">
                    <div class="tile is-child notification is-white">
                        <p class="title"><strong>EX</strong>PERIENCE</p>
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="period">
                                    <div>
                                        2014-2018
                                    </div>
                                    <div class="location">
                                        CONCORDIA UNIVERSITY
                                    </div>
                                </div>
                                <div class="position">
                                    <div class="title">
                                        SOFTWARE ENGINEERING COOP
                                    </div>
                                    <div class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis, distinctio doloribus libero non qui sequi. Accusantium delectus libero magni, modi molestias odit suscipit?
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="period">
                                    <div>
                                        2014-2018
                                    </div>
                                    <div class="location">
                                        CONCORDIA UNIVERSITY
                                    </div>
                                </div>
                                <div class="position">
                                    <div class="title">
                                        SOFTWARE ENGINEERING COOP
                                    </div>
                                    <div class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad debitis, distinctio doloribus libero non qui sequi. Accusantium delectus libero magni, modi molestias odit suscipit?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="services">
        <div class="section-title">
            <h1>
                WHAT I DO
            </h1>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-pencil fa-5x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-4">
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p class="subtitle is-6">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae commodi consequatur.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-pencil fa-5x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-4">
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p class="subtitle is-6">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae commodi consequatur.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-pencil fa-5x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-4">
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p class="subtitle is-6">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae commodi consequatur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-pencil fa-5x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-4">
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p class="subtitle is-6">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae commodi consequatur.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-pencil fa-5x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-4">
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p class="subtitle is-6">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae commodi consequatur.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-pencil fa-5x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-4">
                                Lorem ipsum dolor sit amet.
                            </h4>
                            <p class="subtitle is-6">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae commodi consequatur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="projects">
        <div class="section-title">
            <h1>MY COOL WORK</h1>
        </div>
    </div>
    <div class="section" id="contact">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="section-title">
                        <h1>CONTACT INFO</h1>
                    </div>
                </div>
                <div class="column">
                    <div class="contact-box">
                        <div class="columns" style="margin-bottom: 0">
                            <div class="column">
                                <input type="text" class="input" placeholder="First Name">
                            </div>
                            <div class="column">
                                <input type="text" class="input" placeholder="Last Name">
                            </div>
                        </div>
                        <p class="control">
                            <input type="text" class="input" placeholder="Email">
                        </p>
                        <p class="control">
                            <textarea class="textarea" placeholder="Message"></textarea>
                        </p>
                        <p class="control">
                            <button class="button is-primary">Submit</button>
                            <button class="button is-link">Cancel</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>Copyright &copy 2017 | All rights reserved | Made with &hearts;</p>
        </div>
    </footer>
</div>
