<div class="align-box header">
    <div id="particles-js"></div>
    <div class="align-top bulb">
        <div>
            <img src="../../assets/images/bulb.png" alt="">
            <div class="glow">
                <img src="../../assets/images/glow.png" alt="">
            </div>
        </div>
    </div>
    <div class="align-bottom">
        <div class="me-box">
            <div>
                <h1>Laurendy Lam</h1>
                <p>Full Stack Developer</p>
                <div class="me-social">
                    <a href="https://github.com/ghiobi"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/lamlaurendy"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </div>
            <img src="../../assets/images/me.png" alt="">
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="navbar">
        <div class="container">
            <nav class="level">
                <div class="level-left me-profile">
                    <div class="level-item">
                        <img class="image" src="../../assets/images/icon.png" alt="" width="35">
                    </div>
                    <div class="level-item me-title">
                        <div>LAURENDY <strong>LAM</strong></div>
                        <div><strong>FULL STACK</strong> DEVELOPER</div>
                    </div>
                </div>
                <div class="level-right">
                    <a href="" class="level-item is-white button navbar-link" data-target="#about">ABOUT</a>
                    <a href="" class="level-item is-white button navbar-link" data-target="#services">SERVICES</a>
                    <a href="" class="level-item is-white button navbar-link" data-target="#projects">WORKS</a>
                    <a href="" class="level-item is-white button navbar-link button is-dark" data-target="#contact">HIRE ME</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="section" id="about">
        <div class="section-title">
            <h1>ABOUT ME</h1>
        </div>
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-6">
                    <div class="tile is-child notification">
                        <p class="title">WHO <strong>AM I</strong></p>
                        <p class="mb-10">
                            <strong>Hi</strong>, I'm Laurendy. I'm passionate about software architecture and design.  I'm a daily coder
                            with an ambition in entrepreneurship and look forward to major in large scale web applications.
                        </p>
                        <p class="mb-15">
                            Currently, I attend Concordia University as a third year student in the Software Eng. Co-op program and am <strong>seeking an
                            internship this Summer 2017.</strong> I'm friendly, simple and very self motivated. If you're looking for a
                            skilled full-stack developer or just a funny person, look no further and contact me now.</p>
                        <p>
                            <a href="Resume_Laurendy_Lam.pdf" target="_blank" title="Last Update January 24, 2017" download="" class="button is-primary">DOWNLOAD MY<strong>&nbsp;CV</strong></a>
                        </p>
                    </div>
                </div>
                <div class="tile is-parent is-6">
                    <div class="tile is-child flip-card" id="card-one">
                        <div class="flip-front notification">
                            <p class="title"><strong>SKILLS</strong></p>
                            <p class="subtitle" style="font-size: 14px">Being a quick learner helps a lot pick up all these skills. <strong>Hover me!</strong></p>
                            <div class="skill">
                                <div class="program">
                                    <div class="program-bar" style="width: 95%">
                                        <span>HTML | CSS</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 80%">
                                        <span>PHP</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 75%">
                                        <span>JAVA</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 65%">
                                        <span>JAVASCRIPT</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 45%">
                                        <span>C++</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 30%">
                                        <span>RUBY</span>
                                    </div>
                                </div>
                                <div class="indicator">
                                    <div style="width: 33%">
                                        <span>learning</span>
                                    </div>
                                    <div style="width: 33%">
                                        <span>need docs</span>
                                    </div>
                                    <div style="width: 33%">
                                        <span>fluent</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flip-back notification">
                            <p class="title"><strong>WEB</strong> TOOLS</p>
                            <p class="subtitle" style="font-size: 14px">Familiar with Liquid, MySQL, NPM, Grunt, Gulp, Webpack, Bower,
                                Composer, Gems, and PIP.</p>
                            <div class="skill">
                                <div class="program">
                                    <div class="program-bar" style="width: 95%">
                                        <span>BOOTSTRAP V3 | V4</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 90%">
                                        <span>JQUERY | ANGULARJS</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 85%">
                                        <span>CODEIGNITER</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 75%">
                                        <span>LARAVEL</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 45%">
                                        <span>EXPRESSJS</span>
                                    </div>
                                </div>
                                <div class="program">
                                    <div class="program-bar" style="width: 35%">
                                        <span>REACTJS | RAILS</span>
                                    </div>
                                </div>
                                <div class="indicator">
                                    <div style="width: 33%">
                                        <span>learning</span>
                                    </div>
                                    <div style="width: 33%">
                                        <span>need docs</span>
                                    </div>
                                    <div style="width: 33%">
                                        <span>fluent</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent is-6">
                    <div class="tile is-child notification is-white">
                        <p class="title"><strong>EDU</strong>CATION</p>
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="period">
                                    <div>
                                        2014 - 2018
                                    </div>
                                    <div class="location">
                                        CONCORDIA UNIVERSITY
                                    </div>
                                </div>
                                <div class="position">
                                    <div class="title">
                                        Bach. of Software Engineering
                                    </div>
                                    <div class="description">
                                        I participate in Concordia's Space Club for the development of a satellite. It is going to be rallied against
                                        other universities in North America. Additionally, I used to be a graphic designer for club CCAS.
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="period">
                                    <div>
                                        2012 - 2014
                                    </div>
                                    <div class="location">
                                        DAWSON COLLEGE
                                    </div>
                                </div>
                                <div class="position">
                                    <div class="title">
                                        Health Sciences
                                    </div>
                                    <div class="description">
                                        Nothing really happened during the two years of college except for winning 300$ as first place from a
                                        logo contest.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-6">
                    <div class="tile is-child notification is-white">
                        <p class="title"><strong>EX</strong>PERIENCE</p>
                        <div class="timeline">
                            <div class="timeline-item">
                                <div class="period">
                                    <div>
                                        April 2016 - September 2016
                                    </div>
                                    <div class="location">
                                        CARSON SHOPIFY
                                    </div>
                                </div>
                                <div class="position">
                                    <div class="title">
                                        Full Stack Developer
                                    </div>
                                    <div class="description">
                                        Carson is a Shopify expert company. They work with small jobs provided by merchants from all around the world.
                                        At Carson, I have performed over 255 job requests and replied to over 1955 customer emails.
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="period">
                                    <div>
                                        Summers of 2012 - 2015
                                    </div>
                                    <div class="location">
                                        VILLE MARIE
                                    </div>
                                </div>
                                <div class="position">
                                    <div class="title">
                                         Lifeguard and Water Quality Technician
                                    </div>
                                    <div class="description">
                                        As a lifeguard for the city of Montreal, I regulated and maintained water quality for pools and the safety of the public.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="services">
        <div class="section-title">
            <h1>WHAT I DO</h1>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-laptop fa-3x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-5">
                                <strong>WEB</strong> DEVELOPMENT
                            </h4>
                            <p class="subtitle is-6">
                                I can provide core web development in both front and back stacks. Develop custom or CMS
                                websites with WordPress.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-shopping-cart fa-3x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-5">
                                <strong>SHOPIFY</strong> STORE TWEAKS
                            </h4>
                            <p class="subtitle is-6">
                                From Carson, I have developed strong and professional skills to work with
                                Shopify stores. I provide small store front tweaks at a good price.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-object-group fa-3x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-5">
                                FROM DESIGNS <strong>TO</strong> HTML & CSS
                            </h4>
                            <p class="subtitle is-6">
                                Need to convert your design to HTML and CSS? Let me help!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-first-order fa-3x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-5">
                                GRAPHIC & <strong>LOGO</strong> DESIGN
                            </h4>
                            <p class="subtitle is-6">
                                I have decent skills for graphic design. I'm unique, creative and very skilled with Photoshop.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-wrench fa-3x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-5">
                                COMPUTER <strong>REPAIR</strong>
                            </h4>
                            <p class="subtitle is-6">
                                I repair laptops and desktop as a past time. I provide clean and easy service with no fuss.
                                Depending on the time of the year, I may no offer this.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-print fa-3x"></i>
                        </div>
                        <div class="media-content">
                            <h4 class="title is-5">
                                <strong>3D</strong> PRINTING
                            </h4>
                            <p class="subtitle is-6">
                                Need to get some printing done? I may offer some 3D modeling.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="projects">
        <div class="section-title">
            <h1>MY COOL WORKS</h1>
        </div>
        <div class="container" ng-controller="ProjectCtrl">
            <div class="tabs is-toggle is-centered">
                <ul class="project-filters">
                    <li class="filter is-active" data-filter="*">
                        <a>All</a>
                    </li>
                    <li class="filter" data-filter=".personal">
                        <a>Personal</a>
                    </li>
                    <li class="filter" data-filter=".school">
                        <a>School</a>
                    </li>
                    <li class="filter" data-filter=".freelance">
                        <a>Freelance</a>
                    </li>
                </ul>
            </div>
            <div class="projects-grid">
                <div class="project-item {{ project.filter }}" ng-repeat="project in projects">
                    <div class="project">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img ng-src="{{ project.image }}" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h4 class="mb-10" ng-bind="project.title"></h4>
                                    <span ng-bind-html="project.description"></span>
                                    <br>
                                    <small ng-bind="project.date"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="contact">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="section-title">
                        <h1>CONTACT INFO</h1>
                        <div class="contact-info">
                            <div>
                                <i class="fa fa-fw fa-map-marker"></i>
                            </div>
                            <div>
                                Montreal, Quebec, Canada
                            </div>
                        </div>
                        <div class="contact-info">
                            <div>
                                <i class="fa fa-fw fa-phone"></i>
                            </div>
                            <div>
                                514-9275582
                            </div>
                        </div>
                        <div class="contact-info mb-20">
                            <div>
                                <i class="fa fa-fw fa-envelope"></i>
                            </div>
                            <div>
                                lamlaurendy@gmail.com
                            </div>
                        </div>
                        <div class="me-social">
                            <a href="https://github.com/ghiobi"><i class="fa fa-github-square"></i></a>
                            <a href="https://www.linkedin.com/in/lamlaurendy"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="contact-box" ng-controller="ContactCtrl">
                        <h1 class="mb-5">MESSAGE <strong>ME</strong></h1>
                        <form name="form" novalidate ng-submit="send(form)">
                            <div class="columns" style="margin-bottom: 0">
                                <div class="column no-padding-bottom">
                                    <p class="control has-icon has-icon-right">
                                        <input type="text" class="input"
                                               placeholder="Name" name="name"
                                               ng-model="mail.name" required
                                               ng-class="{'is-danger': form.name.$invalid && form.name.$dirty}">
                                        <i class="fa fa-warning" ng-show="form.name.$invalid && form.name.$dirty"></i>
                                        <span class="help is-danger" ng-show="form.name.$invalid && form.name.$dirty">Your name is required!</span>
                                    </p>
                                </div>
                                <div class="column">
                                    <p class="control has-icon has-icon-right">
                                        <input type="text" class="input"
                                               placeholder="Subject" name="subject"
                                               ng-model="mail.subject" required
                                               ng-class="{'is-danger': form.subject.$invalid && form.subject.$dirty}">
                                        <i class="fa fa-warning" ng-show="form.subject.$invalid && form.subject.$dirty"></i>
                                        <span class="help is-danger" ng-show="form.subject.$invalid && form.subject.$dirty">A subject is required!</span>
                                    </p>
                                </div>
                            </div>
                            <p class="control has-icon has-icon-right">
                                <input type="email" class="input"
                                       placeholder="Email" name="email"
                                       ng-model="mail.email" required
                                       ng-class="{'is-danger': form.email.$invalid && form.email.$dirty}">
                                <i class="fa fa-warning" ng-show="form.email.$invalid && form.email.$dirty"></i>
                                <span class="help is-danger" ng-show="form.email.$invalid && form.email.$dirty">Your email is required!</span>
                            </p>
                            <p class="control has-icon has-icon-right">
                                <textarea class="textarea" placeholder="Message"
                                          name="body" ng-model="mail.body"
                                          required minlength="6" ng-class="{'is-danger': form.body.$invalid && form.body.$dirty}"></textarea>
                                <i class="fa fa-warning" ng-show="form.body.$invalid && form.body.$dirty"></i>
                                <span class="help is-danger" ng-show="form.body.$invalid && form.body.$dirty">Your message needs to be a least 6 chars long!</span>
                            </p>
                            <p class="control">
                                <button class="button is-primary" type="submit"
                                        ng-class="{'is-loading': is_loading }">Submit</button>
                                <button class="button is-link" ng-click="reset(form)" type="reset"
                                        ng-class="{'is-disabled': is_loading }">Cancel</button>
                                <span ng-show="form.$submitted && form.$invalid" class="help is-danger">Please fill in the form!</span>
                                <span ng-show="! form.$submitted && msg_sent" class="help is-success">Your message has been sent!</span>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <p>Copyright &copy <span ng-bind="now.getFullYear()"></span> | All rights reserved | Made with <a
                    href="https://github.com/ghiobi/Me">&hearts;</a></p>
        </div>
    </footer>
</div>
