<div class="section" id="services">
  <div class="section-title">
    <h1>WHAT I DO</h1>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-laptop fa-3x"></i>
          </div>
          <div class="media-content">
            <h4 class="title is-5">
              <strong>WEB</strong> DEVELOPMENT
            </h4>
            <p class="subtitle is-6">
              I can provide core web development in both front and back stacks. Develop custom or CMS
              websites with WordPress.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-shopping-cart fa-3x"></i>
          </div>
          <div class="media-content">
            <h4 class="title is-5">
              <strong>SHOPIFY</strong> STORE TWEAKS
            </h4>
            <p class="subtitle is-6">
              From Carson, I have developed strong and professional skills to work with
              Shopify stores. I provide small store front tweaks at a good price.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-object-group fa-3x"></i>
          </div>
          <div class="media-content">
            <h4 class="title is-5">
              FROM DESIGNS <strong>TO</strong> HTML & CSS
            </h4>
            <p class="subtitle is-6">
              Need to convert your design to HTML and CSS? Let me help!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-first-order fa-3x"></i>
          </div>
          <div class="media-content">
            <h4 class="title is-5">
              GRAPHIC & <strong>LOGO</strong> DESIGN
            </h4>
            <p class="subtitle is-6">
              I have decent skills for graphic design. I'm unique, creative and very skilled with Photoshop.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-wrench fa-3x"></i>
          </div>
          <div class="media-content">
            <h4 class="title is-5">
              COMPUTER <strong>REPAIR</strong>
            </h4>
            <p class="subtitle is-6">
              I repair laptops and desktop as a past time. I provide clean and easy service with no fuss.
              Depending on the time of the year, I may no offer this.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-print fa-3x"></i>
          </div>
          <div class="media-content">
            <h4 class="title is-5">
              <strong>3D</strong> PRINTING
            </h4>
            <p class="subtitle is-6">
              Need to get some printing done? I may offer some 3D modeling.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>