<div class="section" id="about">
  <div class="section-title">
    <h1>ABOUT ME</h1>
  </div>
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-6">
        <div class="tile is-child notification">
          <p class="title">WHO <strong>AM I</strong></p>
          <p class="mb-10">
            <strong>Hi</strong>, I'm Laurendy. I'm passionate about software architecture and design.  I'm a daily coder
            with an ambition in entrepreneurship and look forward to major in large scale web applications.
          </p>
          <p class="mb-15">
            Currently, I attend Concordia University as a third year student in the Software Eng. Co-op program and am completing
            an internship at SAP Canada. I'm friendly, simple and very self motivated. If you're looking for a hand on a software project
            or just a funny person, look no further and contact me now.</p>
          <p>
            <a href="assets/Resume_Laurendy_Lam.pdf" target="_blank" title="Last update, January 30st, 2018" download="" class="button is-primary">DOWNLOAD MY<strong>&nbsp;CV</strong></a>
          </p>
        </div>
      </div>
      <div class="tile is-parent is-6">
        <div class="tile is-child flip-card" id="card-one">
          <div class="flip-front notification">
            <p class="title"><strong>SKILLS</strong></p>
            <p class="subtitle" style="font-size: 14px">Being a quick learner helps a lot pick up all these skills. <strong>Hover me!</strong></p>
            <div class="skill">
              <div class="program">
                <div class="program-bar" style="width: 95%">
                  <span>HTML | CSS</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 80%">
                  <span>PHP</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 75%">
                  <span>JAVA</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 65%">
                  <span>JAVASCRIPT | TYPESCRIPT</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 45%">
                  <span>C++</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 30%">
                  <span>RUBY</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 20%">
                  <span>PYTHON</span>
                </div>
              </div>
              <div class="indicator">
                <div style="width: 33%">
                  <span>learning</span>
                </div>
                <div style="width: 33%">
                  <span>need docs</span>
                </div>
                <div style="width: 33%">
                  <span>fluent</span>
                </div>
              </div>
            </div>
          </div>
          <div class="flip-back notification">
            <p class="title"><strong>WEB</strong> TOOLS</p>
            <p class="subtitle" style="font-size: 14px">Familiar with Liquid, MySQL, NPM, Grunt, Gulp, Webpack, Bower,
              Composer, Gems, and PIP.</p>
            <div class="skill">
              <div class="program">
                <div class="program-bar" style="width: 95%">
                  <span>BOOTSTRAP V3 | V4</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 90%">
                  <span>JQUERY | ANGULAR 2</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 85%">
                  <span>LARAVEL</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 80%">
                  <span>EXPRESSJS</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 55%">
                  <span>SAILS JS</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 35%">
                  <span>REACTJS | VUEJS</span>
                </div>
              </div>
              <div class="program">
                <div class="program-bar" style="width: 25%">
                  <span>RUBY ON RAILS</span>
                </div>
              </div>
              <div class="indicator">
                <div style="width: 33%">
                  <span>learning</span>
                </div>
                <div style="width: 33%">
                  <span>need docs</span>
                </div>
                <div style="width: 33%">
                  <span>fluent</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-6">
        <div class="tile is-child notification is-white">
          <p class="title"><strong>EDU</strong>CATION</p>
          <div class="timeline">
            <div class="timeline-item">
              <div class="period">
                <div>
                  2014 - 2018
                </div>
                <div class="location">
                  CONCORDIA UNIVERSITY
                </div>
              </div>
              <div class="position">
                <div class="title">
                  Bach. of Software Engineering
                </div>
                <div class="description">
                  I participate in Concordia's Space Club for the development of a satellite. It is going to be rallied against
                  other universities in North America. Additionally, I used to be a graphic designer for club CCAS.
                </div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="period">
                <div>
                  2012 - 2014
                </div>
                <div class="location">
                  DAWSON COLLEGE
                </div>
              </div>
              <div class="position">
                <div class="title">
                  Health Sciences
                </div>
                <div class="description">
                  Nothing really happened during the two years of college except for winning 300$ as first place from a
                  logo contest.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-6">
        <div class="tile is-child notification is-white">
          <p class="title"><strong>EX</strong>PERIENCE</p>
          <div class="timeline">
            <div class="timeline-item">
              <div class="period">
                <div>
                  May 2017 - January 2018
                </div>
                <div class="location">
                  SAP HYBRIS
                </div>
              </div>
              <div class="position">
                <div class="title">
                  UI Developer
                </div>
                <div class="description">
                  SAP is the third largest software corporate company in the world. My task will be to transpile
                  design concepts into code.
                </div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="period">
                <div>
                  April 2016 - September 2016
                </div>
                <div class="location">
                  CARSON SHOPIFY
                </div>
              </div>
              <div class="position">
                <div class="title">
                  Full Stack Developer
                </div>
                <div class="description">
                  Carson is a Shopify expert company. They work with small jobs provided by merchants from all around the world.
                  At Carson, I have performed over 255 job requests and replied to over 1955 customer emails.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
