<div class="align-box header">
  <div id="particles-js"></div>
  <div class="align-top bulb">
    <div>
      <img src="assets/images/bulb.png" alt="">
      <div class="glow">
        <img src="assets/images/glow.png" alt="">
      </div>
    </div>
  </div>
  <div class="align-bottom">
    <div class="me-box">
      <div>
        <h1>Laurendy Lam</h1>
        <p>Full Stack Developer</p>
        <div class="me-social">
          <a href="https://github.com/ghiobi"><i class="fa fa-github-square"></i></a>
          <a href="https://www.linkedin.com/in/lamlaurendy"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
      <img src="assets/images/me.png" alt="">
    </div>
  </div>
</div>