@import "../../variables";

#projects {
  background-color: #f9f9f9;
}

.projects-grid {
  margin: 0 -10px;
}

.project-item {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  @media (min-width: 460px) {
    width: 50%;
  }
  @media (min-width: 768px) {
    width: 33%;
  }
  > .project {
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  }
}

.project {
  .content a:not(.button) {
    color: $primary;
    display: inline-block;
    margin-right: 3px;
    border-bottom: none;
  }
  .fa {
    font-size: inherit;
    vertical-align: baseline;
  }
}
