@import "../../variables";

#projects {
  background-color: #f9f9f9;
}

.projects-grid {
  margin: 0 -10px;
}

.project-item {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  @media (min-width: 560px) {
    width: 50%;
  }
  @media (min-width: 768px) {
    width: 33%;
  }
  > .project > .card {
    box-shadow: none;
  }
}

.project {
  .content a:not(.button) {
    color: $primary;
    display: inline-block;
    margin-right: 3px;
    border-bottom: none;
  }
}
