<div class="section" id="projects">
  <div class="section-title">
    <h1>MY COOL WORKS</h1>
  </div>
  <div class="container" ng-controller="ProjectCtrl">
    <masonry class="projects-grid" [useImagesLoaded]="true">
      <masonry-brick class="project-item {{ project.filter }}" *ngFor="let project of projects">
        <div class="project">
          <div class="card">
            <div *ngIf="project.image" class="card-image">
              <figure class="image">
                <img [src]="project.image" alt="">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  <span class="tag" [ngClass]="{'is-dark': project.type == 'Freelance', 'is-primary': project.type == 'School', 'is-light': project.type == 'Personal'}">
                    {{ project.type }} Project
                  </span>
                </p>
                <h4 class="mb-10">{{ project.title }}</h4>
                <span [innerHTML]="project.description"></span>
                <br>
                <small>{{ project.date }}</small>
              </div>
            </div>
          </div>
        </div>
      </masonry-brick>
    </masonry>
  </div>
</div>