<div class="navbar">
  <div class="container">
    <nav class="level">
      <div class="level-left me-profile">
        <div class="level-item">
          <img class="image" src="assets/images/icon.png" alt="" width="35">
        </div>
        <div class="level-item me-title">
          <div>LAURENDY <strong>LAM</strong></div>
          <div><strong>FULL STACK</strong> DEVELOPER</div>
        </div>
      </div>
      <div class="level-right">
        <a pageScroll class="level-item is-white button navbar-link" href="#about">ABOUT</a>
        <a pageScroll class="level-item is-white button navbar-link" href="#services">SERVICES</a>
        <a pageScroll class="level-item is-white button navbar-link" href="#projects">WORKS</a>
        <a pageScroll class="level-item is-white button navbar-link button is-dark" href="#contact">HIRE ME</a>
      </div>
    </nav>
  </div>
</div>